
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

	   xmlns:cxf="http://cxf.apache.org/core"
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"

       xsi:schemaLocation="
            http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://cxf.apache.org/jaxws                     http://cxf.apache.org/schemas/jaxws.xsd
            http://cxf.apache.org/jaxrs                     http://cxf.apache.org/schemas/jaxrs.xsd
            http://cxf.apache.org/core                      http://cxf.apache.org/schemas/core.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">

   <!-- === CXF ======================================================== -->
   
	<!-- Load CXF modules from cxf.jar -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <!--import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" /-->

    <!-- ====================================================================-->
    <!-- === Service providers ==============================================-->
    <!-- ====================================================================-->
    
    <bean id="restExtJsService" class="it.geosolutions.geostore.services.rest.impl.RESTExtJsServiceImpl">
    </bean>

    <!-- ====================================================================-->
    <!-- === REST Services ==================================================-->
    <!-- ====================================================================-->
    
    <jaxrs:server id="geoStoreRESTExtJs" address="/extjs">
        <jaxrs:serviceBeans>
          <ref bean="restExtJsService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
           <ref bean="jaxbXmlProvider"/>
           <ref bean="jsonProvider"/>
           <ref bean="jaxbContextResolver"/>
        </jaxrs:providers>
        <jaxrs:outInterceptors>
			<ref bean="noCacheInterceptor" />
		</jaxrs:outInterceptors>    

    </jaxrs:server>
	
</beans>
