# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI

on:
  push:
    branches:
    - master
    - '[0-9]+.[0-9]+*'
  pull_request:
    branches:
    - master
    - '[0-9]+.[0-9]+*'

jobs:
  # Run build and test
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Cache Maven local repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-m2-
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'
    - name: Build with Maven
      run: mvn -B clean install -Ph2_disk,auditing # running the test build with the h2 disk profile and auditing too.
  ## Only on push event, publish on geosolutions maven repo
  publish:
    runs-on: ubuntu-latest
    if:  ${{ github.event_name == 'push' && github.repository == 'geosolutions-it/geostore' }}
    needs: build
    concurrency: ci-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: geosolutions
          server-username: MAVEN_USERNAME
      - name: Publish package
        run: |
          # Setup SSH keys for SFTP
          mkdir -p ~/.ssh
          echo "${{ secrets.GS_SFTP_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          # add geo-solutions.it to known hosts to avoid prompts
          ssh-keyscan -H maven.geo-solutions.it >> ~/.ssh/known_hosts
          mvn clean install deploy -Ppostgres # published version includes only the postgres drivers. Auditing module is not added to the published version.
        env:
          MAVEN_USERNAME: ${{ secrets.GS_MAVEN_USERNAME }}
